<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2020년 전후 채널별 드라마 수 통합 비교</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/chartTheme.css') }}">
</head>
<body>
    
    <h1>📺 2020년 전후 채널별 드라마 수 통합 비교</h1>
    
    <div class="charts-row">
        <div class="chart-container">
            <h2>2020년 이전</h2>
            <div class="chart-wrapper">
                <canvas id="pieChart2010"></canvas>
            </div>
        </div>

        <div class="chart-container">
            <h2>2020년 이후</h2>
            <div class="chart-wrapper">
                <canvas id="pieChart2020"></canvas>
            </div>
        </div>
    </div>

    <script src="../static/js/all_ott_tv_count_date_genre.js"></script>
</body>
</html>