<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>방송사 채널별 평균 평점 비교</title>
    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h2>방송사 채널별 평균 평점 비교(2010년대)</h2>
    <canvas id="myBarChart2010" width="400" height="200"></canvas>

    <h2>방송사 채널별 평균 평점 비교(2020년대)</h2>
    <canvas id="myBarChart2020" width="400" height="200"></canvas>

    <!-- 외부 JS 파일 불러오기 -->
    <script src="../static/brodchart2010.js"></script>
    <script src="../static/brodchart2020.js"></script>
</body>
</html>