<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>2020년 전후 TV 평점 비교</title>
    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/chartTheme.css') }}">
</head>
<body>

    <h1>📺 2020년 전후 TV 평점 비교</h1>
    
    <div class="charts-row">
        <div class="chart-container">
            <h2>2020년 이전</h2>
            <div class="chart-wrapper">
                <canvas id="myBarChart2010"></canvas>
            </div>
        </div>

        <div class="chart-container">
            <h2>2020년 이후</h2>
            <div class="chart-wrapper">
                <canvas id="myBarChart2020"></canvas>
            </div>
        </div>
    </div>

    <!-- <h2>방송사 채널별 평균 평점 비교(2010년대)</h2>
    <canvas id="myBarChart2010" width="400" height="200"></canvas>

    <h2>방송사 채널별 평균 평점 비교(2020년대)</h2>
    <canvas id="myBarChart2020" width="400" height="200"></canvas> -->

    <!-- 외부 JS 파일 불러오기 -->
    <script src="../static/js/tv_rating_2010.js"></script>
    <script src="../static/js/tv_rating_2020.js"></script>
</body>
</html>